@model IEnumerable<deploy.Models.Business>

@{
    ViewBag.Title = "Index";
}

<h2>Businesses</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Business Type
        </th>
        <th>
            Business Name
        </th>
        <th>
            Address
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Menu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BusinessType.BusinessTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BusinessName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Menu)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BusinessID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BusinessID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BusinessID })
        </td>
    </tr>
}

</table>
