@model IEnumerable<deploy.Models.Rating>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Business.BusinessName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StarReview)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TextReview)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Business.BusinessName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StarReview)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TextReview)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RatingID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RatingID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RatingID })
        </td>
    </tr>
}

</table>
